openapi: 3.1.1

info:
  version: "1.0.0"
  title: "Annotrieve API"
  contact:
    email: "emilio.righi@crg.eu"

servers:
  - url: https://genome.crg.es/annotrieve/api/v1

tags:
- name: "annotations"
paths:

  /annotations:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotations"
      summary: "Endpoint to retrieve a paginated list of genomic annotations"
      parameters:
        - $ref: "#/components/parameters/format"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/assembly_accessions"
        - $ref: "#/components/parameters/taxids"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/sources"
        - $ref: "#/components/parameters/names"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnnotationsJSONResponse"
            text/tab-separated-values: 
              schema: 
                $ref: "#/components/schemas/TSVResponse"
            application/jsonl:
              schema:
                $ref: "#/components/schemas/JSONLResponse"
        "400":
          description: "bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
    post:
      tags:
        - "annotations"
      operationId: "postAnnotations"
      summary: "Endpoint to retrieve a set of annotations"
      requestBody:
        $ref: "#/components/schemas/AnnotationPostParams"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnnotationsJSONResponse"
            text/tab-separated-values: 
              schema: 
                $ref: "#/components/schemas/TSVResponse"
            application/jsonl:
              schema:
                $ref: "#/components/schemas/JSONLResponse"
        "400":
          description: "bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /annotations/errors:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationErrors"
      summary: "Get a list of annotation errors"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /annotations/{annotation_name}:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationByName"
      summary: "Get a specific annotation by name"
      parameters:
        - name: annotation_name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Annotation"
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /annotations/{annotation_name}/regions:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationRegions"
      summary: "Get region metadata for an annotation"
      parameters:
        - name: annotation_name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /annotations/{annotation_name}/gff:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationGff"
      summary: "Get the GFF stream for an annotation"
      parameters:
        - name: annotation_name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            text/plain:
              schema:
                type: string
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /annotations/{annotation_name}/inconsistent-features:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationInconsistentFeatures"
      summary: "Get inconsistent features for an annotation"
      parameters:
        - name: annotation_name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /downloads/annotations:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationsDownload"
      summary: "Endpoint to download a set of annotations, limit is 200, if preview is true, return a preview of the download"
      parameters:
        - $ref: "#/components/parameters/preview"
        - $ref: "#/components/parameters/assembly_accessions"
        - $ref: "#/components/parameters/taxids"
        - $ref: "#/components/parameters/sources"
        - $ref: "#/components/parameters/names"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnnotationDownloadPreviewResponse"
            application/zip:
              schema:
                $ref: "#/components/schemas/ZIPResponse"
        "400":
          description: "bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
    post:
      tags:
        - "annotations"
      operationId: "postAnnotationsDownload"
      summary: "Endpoint to download a set of annotations"
      requestBody:
        $ref: "#/components/schemas/AnnotationPostParams"
      responses:
        "200":
          description: "successful operation"
          content:
            application/zip:
              schema:
                $ref: "#/components/schemas/ZIPResponse"
        "400":
          description: "bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /downloads/annotations/jobs:
    post:
      tags:
        - "annotations"
      operationId: "postAnnotationsDownloadBulk"
      summary: "Create a bulk annotation download job"
      requestBody:
        $ref: "#/components/schemas/AnnotationPostParams"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /downloads/annotations/jobs/{job_id}:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationsDownloadBulkStatus"
      summary: "Get the status of a bulk annotation download job"
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

  /downloads/annotations/jobs/{job_id}/file:
    get:
      tags:
        - "annotations"
      operationId: "getAnnotationsDownloadBulkFile"
      summary: "Download the file for a bulk annotation download job"
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/zip:
              schema:
                $ref: "#/components/schemas/ZIPResponse"
        default:
          description: "unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ERROR_RESPONSE"

components:
  parameters:
    filter:
      name: "filter"
      in: "query"
      description: "filter the annotations by name, scientific name, assembly accession, assembly name or taxid"
      schema:
        type: "string"
    preview:
      name: "preview"
      in: "query"
      description: "preview the download"
      schema:
        type: "string"
        default: "false"
        enum:
          - "true"
          - "false"
    assembly_accessions:
      name: "assembly_accessions"
      in: "query"
      description: "comma separated list of assembly accessions to filter by"
      schema:
        type: "string"
    taxids:
      name: "taxids"
      in: "query"
      description: "comma separated list of taxids to filter by"
      schema:
        type: "string"
    sources:
      name: "sources"
      in: "query"
      description: "comma separated list of sources to filter by"
      schema:
        type: "string"
    names:
      name: "names"
      in: "query"
      description: "comma separated list of names to filter by"
      schema:
        type: "string"
    sort_by:
      name: "sort_by"
      in: "query"
      description: "field to sort by"
      schema:
        type: "string"
        enum:
          - "name"
          - "assembly_accession"
          - "assembly_name"
          - "taxid"
          - "source"
    sort_order:
      name: "sort_order"
      in: "query"
      description: "sort order"
      schema:
        type: "string"
    format:
      name: "format"
      in: "query"
      description: "format of the response"
      required: true
      schema:
        type: "string"
        enum:
          - "tsv"
          - "json"
          - "jsonl"
        default: "json"
    limit:
      name: "limit"
      in: "query"
      description: "limit the number of annotations to retrieve"
      schema:
        type: "number"
        default: 20
    offset:
      name: "offset"
      in: "query"
      description: "offset the number of annotations to retrieve"
      schema:
        type: "number"
        default: 0

  schemas:
    AnnotationsJSONResponse:
      type: "object"
      additionalProperties: false
      properties:
        data:
          type: "array"
          maxItems: 10000
          items:
            $ref: "#/components/schemas/Annotation"
        pagination:
          type: "object"
          properties:
            offset:
              type: "number"
            limit:
              type: "number"
        total:
          type: "number"

    AnnotationDownloadPreviewResponse:
      type: "object"
      properties:
        total_bytes:
          type: "number"
        file_count:
          type: "number"
        estimated_total_size_mb:
          type: "number"

    TSVResponse:
      type: "string"
      example: "key1\tkey2\nexample\t123"

    ZIPResponse:
      type: "string"
      example: "zip file"

    JSONLResponse:
      type: "string"
      description: "JSONL response, pagination is supported"
      example: "{\"key1\": \"value1\", \"key2\": \"value2\"}\n{\"key1\": \"value3\", \"key2\": \"value4\"}"

    ERROR_RESPONSE:
      type: "object"
      properties:
        error:
          type: "string"
          description: "error message"

    AnnotationPostParams:
      type: "object"
      properties:
        taxids:
          type: "string"
          description: "taxon lineage to filter by"
          maxItems: 10000
          items:
            type: "string"
        assembly_accessions:
          type: "array"
          maxItems: 10000
          items:
            type: "string"
          description: "assembly accessions to filter by"
        sources:
          type: "string"
          enum:
            - "ncbi"
            - "ensembl"
        names:
          type: "array"
          maxItems: 10000
          items:
            type: "string"
          description: "annotation names to filter by"
        limit:
          type: "number"
          default: 20
          description: "limit the number of annotations to retrieve"
        offset:
          type: "number"
          default: 0
        format:
          type: "string"
          enum:
            - "tsv"
            - "json"
            - "jsonl"
          default: "json"

    Annotation:
      type: "object"
      description: "object containing the urls to download the gzipped gff3 file"
      properties:
        name:
          type: "string"
          description: "annotation name"
        source:
          type: "string"
          description: "source of the annotation, like ncbi or ensembl-rapid-release"
        scientific_name:
          type: "string"
          description: "scientific name of the species"
        taxid:
          type: "string"
          description: "NCBI taxonomy identifier of the species"
        assembly_accession:
          type: "string"
          description: "assembly accession"
        assembly_name:
          type: "string"
          description: "assembly name"
        taxon_lineage:
          type: "array"
          description: "taxonomy lineage of the species, from species to root"
          items:
            type: "string"
        original_url:
          type: "string"
          description: "Link to the original annotation"
        bgzipped_path:
          type: "string"
          description: "Path to the bgzipped annotation"
        tabix_path:
          type: "string"
          description: "Path to the tabix indexed annotation"
        md5_checksum:
          type: "string"
          description: "md5 checksum of the annotation"
        inconsistent_features:
          type: "number"
          description: "number of inconsistent features in the annotation"  
      additionalProperties:
        type: "string"
        description: "Additional properties that are not explicitly defined in the model."
